@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,500&display=swap');

 *{
    margin: 0px;
    padding: 0px;
 }
 
 /* --------------------------- Main Header ---------------------------------*/
 .main-header{
    background-color: #023047;
     width: 100%;
    position:absolute ;
    top: 0px;
    margin-left: 0px;
   
}


.logo{
    float: left;
    text-align: center;
    padding: 10px;
    margin-left: 100px;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
}

.logo a{
    text-decoration: none;
    color: white;
}


#nav-bar {
    margin-top: 20px;
    float: right;
    margin-right: 100px;

}

#nav-bar ul{
    padding: 0;
    list-style: none;
}

#nav-bar li{
    display: inline;
    margin:10px 20px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Poppins',sans-serif;
}

#nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    cursor: pionter;
}

#nav-bar a:hover{
    color: #FFD100 ;}

/* Media Query for header ---------------------------------*/

        @media(max-width: 760px){
    
            #hero{margin-top:0px;
        
            }
            .main-header{
                position: static;
            }
        
            .logo{
                float: none;
                height: 40px;
                margin: auto;
            
            }
            #nav-bar{
                float: none;
                margin: auto;
        }
            #nav-bar a{
                display: block;
                text-align: center;}
        }
        
        @media(min-width: 760px){
            .hero-container{
                margin-top: 50px;
            }
        }
    
       


/* Hero Section---------------------------------------------*/

.hero-container {
    
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-text {
    flex: 1;
    margin-left: 100px;
    padding: 0 ;
    font-family: 'Poppins',sans-serif;
    color: #023047;
}
.hero-text h1{
    font-size: 40px;
}

#amazingdesign{
    font-size: 60px;
}


.hero-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.hero-image img {
    max-width: 80%;
    padding: 20px;
    border-radius: 50%;
}


.hire-me-button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 800;
    color: #023047;
    background-color: #FFD100;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.hire-me-button:hover {
    background-color: #023047;
    color: #FFD100;
}

/* Media Query For header ----------------------------------*/

@media (max-width: 700px) {
    .hero-container {
       width: auto;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }

    .welcome-text,
    .hero-image {
        
        margin: 20px;
        width: 100%;
        justify-content: center;
    }
}


/* Portfolio Section ---------------------*/


#portfolio{
    margin-top: 20px;
    justify-content: center;
    margin-bottom: 30px;
}
.ptitle{
    font-size: 25px;
    font-weight: 1000;
    text-align: center;
    color: #264653;
}


.projects-images img{
    width: 60%;
	height: auto;
	margin-left: 20%;
	margin-right: 20%;
	border-radius: 10px;
	margin-top: 20px;
    
}

.projects-images img:hover{
    transform: scale(1.1);
}


/* Pricing ---------------------------------------------*/
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  
  .card1,.card2,.card3 {
    background: #fff;
    color: hsl(233, 13%, 49%);
    border-radius: 0.8rem;
    
  }
  
  .card1:hover {
    background: linear-gradient(
      135deg,
      rgba(163, 168, 240, 1) 0%,
      rgba(105, 111, 221, 1) 100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
  }
  .card2:hover {
    background: linear-gradient(
      135deg,
      rgba(163, 168, 240, 1) 0%,
      rgba(105, 111, 221, 1) 100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
  }
  .card3:hover {
    background: linear-gradient(
      135deg,
      rgba(163, 168, 240, 1) 0%,
      rgba(105, 111, 221, 1) 100%
    );
    color: #fff;
    display: flex;
    align-items: center;
    transform: scale(1.1);
    z-index: 1;
  }
  .card1:hover .price-bottom-bar,.card2:hover .price-bottom-bar,.card3:hover .price-bottom-bar{
    color: white;
  }
 
  .card1:hover .btn , .card2:hover .btn,.card3:hover .btn {
    color: rgba(105, 111, 221, 1);
    background: #fff;
  }


  .pricing-ul {
    margin: 2.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .pricing-ul li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 0;
  }
  .price-bottom-bar {
    font-size: 3rem;
    color: hsl(232, 13%, 33%);
    padding-bottom: 2rem;
  }
  .card1,.card2,.card3 {
    box-shadow: -5px 5px 15px 1px rgba(0, 0, 0, 0.1);
  }
  
  
  .btn {
    margin-top: 1rem;
    height: 2.6rem;
    width: 13.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: linear-gradient(
      135deg,
      rgba(163, 168, 240, 1) 0%,
      rgba(105, 111, 221, 1) 100%
    );
    color: #fff;
    outline: none;
    border: 0;
    font-weight: bold;
  }
  .active-btn {
    background: #fff;
    color: hsl(237, 63%, 64%);
  }
  .bottom-bar {
    border-bottom: 2px solid hsla(240, 8%, 85%, 0.582);
  }
 
  
  @media (max-width: 280px) {
    .pricing-ul {
      margin: 1rem;
    }
    
    .card1,.card2,.card3 {
      margin: 0;
      display: flex;
      flex-direction: column;
      transform: scale(0.8);
      margin-bottom: 1rem;
    }
  
    
  }
  
  @media (min-width: 280px) and (max-width: 320px) {
    .pricing-ul {
      margin: 20px;
    }
    .card1,.card2,.card3 {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }
    
  }
  
  @media (min-width: 320px) and (max-width: 414px) {
    .cards {
      display: flex;
      flex-direction: column;
    }
    .card1,.card2,.card3{
      margin-bottom: 1rem;
    }
    
  }
  @media (min-width: 414px) and (max-width: 768px) {
    .card1,.card2,.card3{
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    
  }
  @media (min-width: 768px) and (max-width: 1046px) {
    .cards {
      display: flex;
    }
    .card1,.card2,.card3 {
      margin-bottom: 1rem;
      margin-right: 1rem;
    }
    
  }
  
/* About Me -------------------------------------------------------*/

#about-me{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about-me img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#about-me p{
    text-align: justify;
    font-weight: 400;
}

.icons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.icons img{

    width: 30px;
    height: 30px;
    margin: 10px;
}

.icons img:hover{
    transform: scale(1.03);
}

@media (max-width: 430px) {
    .icons img{
        width: 30px;
        height: 30px;
        margin: 5px;
    }
}

/*  Footer -----------------------------------------------------------------------*/

footer{
    background-color: rgb(180, 191, 191);
    width: 100%;
    padding: 5px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
    color:white;
    
    
}




